<!DOCTYPE html>
<html lang="en">

<%- include('../parts/head__html') -%>
<body id="top">
    <!--- #HEADER-->
    <%- include('../parts/hearder__html') -%> 
    
    <main>
        <%- body %>
    </main>
    <!--- #FOOTER -->
    <%- include('../parts/footer__html') -%>
    
    <!-- #Go Top -->
    <%- include('../parts/gotop__html') -%>
</body>

</html>